jsonschema  # Required by dependencies
molecule
molecule-azure
molecule-containers
molecule-digitalocean
molecule-docker
molecule-ec2
molecule-gce
molecule-goss
molecule-inspec
molecule-libvirt
molecule-lxd
molecule-openstack
molecule-podman
molecule-vagrant
openstacksdk
pyyaml!=6.0.0,!=5.4.0,!=5.4.1  # pyyaml is broken with cython 3
